###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
jupyter-server-proxy
rise

###############################################################
#          python packages                                    #
###############################################################

pandas
matplotlib
neo4j
py2neo
tornado
ipython-cypher
pygal
plotly
holoviews
bokeh
